<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Sign Up</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<form method="post" action="/user">
    <div class="form-group">
        <label>User Name
            <input type="text" name="username" th:value="${username}" class="form-control" required>
        </label>
        <label>Email
            <input type="email" name="email" th:value="${email}" class="form-control" required>
        </label>
        <label>Password
            <input type="password" name="password" class="form-control" required>
        </label>
        <label>Password
            <input type="password" name="verify" class="form-control" required>
        </label>
        <p class="error" th:if="${error}" th:text="${error}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit">
    </div>

</body>
</html>